<ion-row class="ion-justify-content-center">
  <ion-col size="11" size-md="4" size-sm="11" class="ion-text-center">


    <ng-container *ngFor="let link of this.links">
      <ion-button href="{{ link.uri }}" target="_blank" color="{{ link.color }}" size="large"
        expand="block">
        <ion-icon slot="start" name="{{ link.icon }}"></ion-icon>
        <ion-text>{{ link.name }}</ion-text>
      </ion-button>
    </ng-container>

    <div class="made_with">
      <span>Made with</span><span class="love"> ❤︎ </span><span>by Luiz Fiuza</span>
    </div>
    <app-easteregg></app-easteregg>
  </ion-col>
</ion-row>