<ion-content [fullscreen]="true">

  <ion-col size="3">
    <ion-row class="ion-justify-content-end">
      <ion-toggle [(ngModel)]="themeToggle" (ionChange)="toggleChange($event)" class="dark_mode" mode="ios" aria-label="Primary toggle" color="success" [checked]="false">🌙</ion-toggle>
    </ion-row>
  </ion-col>

  <ion-col size="12" size-md="4">
    <ion-row class="ion-justify-content-center">
      <img
        class="avatar"
        src="https://avatars.githubusercontent.com/u/96220499?v=4"
        alt="Luiz Fiuza's avatar"
      />
    </ion-row>
  </ion-col>

  <ion-col size="12" size-md="4">
    <ion-row class="ion-justify-content-center ion-text-center" >
      <ion-text>
        <h1>Luiz Fiuza</h1>
        <p>Contact Me!</p>
      </ion-text>
    </ion-row>
  </ion-col>

  <ion-col size="12">
    <ion-row class="ion-justify-content-center">

      <ion-col size="11" size-md="4" size-sm="11" class="ion-text-center">

        <ion-button href="https://www.linkedin.com/in/luiz-fiuza-/" target="_blank" color="primary" size="large" expand="block">
          <ion-icon slot="start" name="logo-linkedin"></ion-icon>
          <ion-text>Linkedin</ion-text>
        </ion-button>
        
        <ion-button href="https://github.com/luizfiuzaa" target="_blank" color="dark" size="large" expand="block">
          <ion-icon slot="start" name="logo-github"></ion-icon>
          <ion-text>Github</ion-text>
        </ion-button>

        <ion-button href="mailto:luizfiuza.b@gmail.com" color="danger" size="large" expand="block">
          <ion-icon slot="start" name="mail"></ion-icon>
          <ion-text>Email</ion-text>
        </ion-button>


        <ion-button fill="clear" color="medium" size="small" expand="block">
          <ion-icon slot="start" name="code"></ion-icon>
          <ion-text>More Soon...</ion-text>
        </ion-button>

        <ion-text class="made_with">
          Made with <span class="love">❤︎</span> by
          <span>Luiz Fiuza</span>
        </ion-text>

      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-text class="easter_egg">
        Aways Remember: The cake is a <span class="easter_egg__false">!</span>truth
      </ion-text>
    </ion-row>
  </ion-col>

</ion-content>
